/*
	********************************
	Navigation
	*********************************
*/
.nav li{
	display: inline-block;
	padding-right: 5px;
	padding-left: 5px;
	margin-top: 20px;
}

/*
	********************************
	We will add CSS3 rules here!!!!
	*********************************
*/

/*
	********************************
	General Body styles 
	*********************************
*/

body {
	font-family: 'Raleway';
	color: #fff;
	background: url(/img/treehouse.jpg);
	background-repeat: no-repeat;
	background-size: cover; 
}