@import url('https://fonts.googleapis.com/css?family=Roboto|Roboto+Condensed');

body{
  font-family: 'Roboto', sans-serif;
}
.nav-li, #heading{
  color:#fff;
}
.nav-li{
  list-style: none;
  float: right;
  display: flex;
}
